*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    transition: background 2.5s ease-in-out;
}

.logo img{margin: 42px;
    height: 76px;
    width: auto;
    border: 2px solid #fff;
    border-radius: 26px;
    box-shadow: 9px 13px 15px rgba(0, 0, 0, 1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.search input{
    border: 0;
    outline: 0;
    background: #2c3637b5;
    border-bottom: 1px solid #fff;
    padding: 12px;
    color: white;
    font-size: 20px;
    width: 250px;

}
form{
    display: flex;
}

button{
    width: 100px;
    margin-left: 20px;
    background: black;
    color: white;
    border-radius: 40px;
}

::placeholder{
    color: white;
}


main{
    display: flex;
}

.current{
    display: flex;
    height: 60vh;
    width: 40%;
    padding: 40px 0px 40px 100px;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.current h1{
    font-size: 140px;
    font-weight: 600;
}

.city{
    font-size: 50px;
}
.des{
    font-size: 24px;
}

.forecast{
    display: flex;
    height: 60vh;
    width: 60%;
    padding: 0px 40px 0px 40px;
    color: white;
    flex-direction: column;

}

.weather{
    border-radius: 19px;
    background-color: #2c3637b5;
    height: 137px;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 20px 57px;
}

.feel{
    border-radius: 19px;
    background-color: #2c3637b5;
    height: 337px;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 37px 57px;
}

.feel div{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e4eaf2;
}

.feel div span:nth-child(2){
    font-weight: bold;
}


.clear {
    background-image: url('../images/clear.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clouds {
    background-image: url('../images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rain {
    background-image: url('../images/rain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.drizzle {
    background-image: url('../images/drizzle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thunderstorm {
    background-image: url('../images/thunderstorm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.snow {
    background-image: url('../images/snow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mist {
    background-image: url('../images/mist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.haze {
    background-image: url('../images/haze.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
